# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Env
.env
.venv/

# Audio cache
*.mp3
tts_cache/

# OS
.DS_Store

# Frontend
node_modules/
dist/

# Logs
*.log

# IDE
.vscode/

# Database
*.db
*.sqlite3